:root {
    --bg-color: #212529;
    --border-color: rgb(100, 0, 0);
    --font-color: #f1f5f9;
    --bg-button: rgb(155, 1, 1);
}

body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}

.dark-mode {
    background-color: var(--bg-color);
    color: var(--font-color);
}

.light-mode {
    background-color: var(--font-color);
    color: var(--bg-color);
}

button {
    background-color: var(--primary-color);
    border: none;
    border-radius: .25rem;
    font-weight: 700;
    padding: .5rem 1rem;
    transition: .15s;
}

h2 {
    color: white;
    background-color: var(--bg-button);
    border: 8px solid var(--border-color);
    border-radius: 15px;
    width: px;
    align-items: h2 center;
}
  
.img {
    width: 600px;
    height: 400px;
}

img {
    border: 5px solid black;
    border-radius: 20px;
}

button {
    background-color: var(--bg-button);
    border: 5px solid var(--border-color);
    border-radius: 15px;
    color: var(--font-color);
}